/* .banner-area{
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    /* width: 1320px;
    height: 600px;
  
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}  */
.banner_text {
    color: #fff;
  
    position: relative;
}
.banner_text h3 {
    font-size: 32px;
    padding-top: 15%;
    font-weight: 400;
}

.banner_text h1 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 15px;
}
.banner_text2 img {
    float: right;
    padding: 5% 12% 0 0;
}
 /* ========= Banner-area end =========  */